body {
 background-image: url("20250111_232938.jpg");
 background-size: cover;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-weight: bold;
 text-align: center;
 height: 50vh;
}

.teamlogo {
 background: skyblue;
 margin: auto;
 border: 5px solid black;
}

#vs {
 font-size: 80px;
}

.teamscorebox {
 background: skyblue;
 width: 170px;
 border: 5px solid black;
 border-radius: 20px;
}

.wrestlerscorebox {
 background: skyblue;
 max-width: 500px;
 margin: auto;
 border: 5px solid black;
 border-radius: 20px;
}

.matchscorebox {
 background: skyblue;
 max-width: 700px;
 margin: auto;
 border: 5px solid black;
 border-radius: 20px;
}

.flexrow {
 display: flex;
 flex-direction: row;
 align-items: center;
}

.redteam {
 color: red;
}

.greenteam {
 color: green;
}

h1 {
 margin-top: 10px;
 margin-bottom: 10px;
 color: blue;
}

h2 {
 font-size: 50px;
 margin-top: 0;
 margin-bottom: 20px;
 color: blue;
}

button {
 border: 5px bold;
 padding-top: 10px;
 padding-bottom: 10px;
 color: white;
 font-weight: bold;
 width: 200px;
 margin-bottom: 5px;
 margin-left: 10px;
 margin-right: 10px;
 border-radius: 5px;
}

.increment-btn1 {
 background: darkred;
 
}
.increment-btn2 {
 background: darkgreen;
}

#save-btn {
 font-size: xx-large;
 width: 150px;
 background: darkgreen;
 border: 5px solid black;
}

#save-el {
 color: blue;
}
